%% -*- erlang -*-
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{deps, [
  {edown, ".*", {git, "https://github.com/uwiger/edown.git", "HEAD"}}
]}.
{erl_opts, [fail_on_warning]}.
{edoc_opts, [{doclet, edown_doclet},
             {src_path, ["src/"]},
             {stylesheet, ""},
             {image, ""},
             {edown_target, github},
             {top_level_readme, {"./README.md", "https://github.com/gmr/strftimerl"}}]}.
{eunit_exclude_deps, true}.
{eunit_opts, [verbose, {skip_deps, true}, {report,{eunit_surefire,[{dir,"."}]}}]}.
{lib_dirs,["deps"]}.
